<div id="carousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  		<% @images.each_with_index do |string, index| %>
		   		<li data-target="#carousel" data-slide-to=<%= index %> ></li>
		    <% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  		<% @images.each_with_index do |string, index| %>
				<div <%= index == 0 ? "class= 'item active' " : "class='item'" %> >
					<img class='img-thumbnail' src=<%= string %> >
					<p><span class='maker'><%= @makers[index] %></span></p>
					<p><span class='model'><%= @models[index] %></span></p>
				</div>
	  		<% end %>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
</div>